/*CSS per friend lewe*/

#friendDetailsContainer {
    padding-top: 1em;
}


/*CSS per lewe chart*/

#container:first-child{
	background: red;
	
}

#leweChartTable {
    margin: 0 auto;
    overflow: auto;
    width: 38.4em;
}


#leweChartNoDataMessage {
    float: none !important;
    margin: 0 auto;
    text-align: center;
    width: 11em;
}


.leweChartTableTitle {
    background: url("images/bg3.png") repeat-x scroll left top #1E1E1E;
    color: #FFFFFF;
    float: left;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 1.6em;
    padding-bottom: 0.05em;
    text-align: center;
    width: 8em;
}


#leweChartTableRowTitles {
	clear: both;	
}

.leweChartTabaleRow {
    border-bottom: 1px solid black;
    clear: both;
	overflow: auto;
}


.leweChartTableData {
    color: #1D1D1D;
    float: left;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 1.2em;
    text-align: center;
    width: 10.66em;
}

#container {
	clear: both;
    height: auto;
    margin: 0 auto;
    min-width: auto;
}

#leweChartForm {

}

#leweChartFormButtonContainer {
    float: left;
    width: 8em;
}

#leweChartFormSubmit {
    font-size: 1.6em;
    margin-top: -0.4em;
}

#leweChartContainer {
    margin: 0 auto;
}

.leweChartText2 {
    color: #1D1D1D;
    float: left;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 1.4em;
    margin-top: 0.2em;
    padding-left: 0.3em;
    width: 4.3em;
}

.leweChartText {
    color: #1D1D1D;
    float: left;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 1.4em;
    margin-left: 1.2em;
    margin-top: 0.2em;
    padding-right: 0.4em;
    text-align: right;
    width: 1em;
}

.leweChartFormCheck {
    float: left;
    margin-left: 2em;
    margin-top: 1.16em;
}

.leweChartFormInput {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    float: left;
    font-size: 1.4em;
    height: 1.6em;
    margin-bottom: 0.8em;
    padding: 0 0 0 0.2em;
    width: 10.8em;
}

/*CSS my_lewe*/
#friendDetailsLeweContainer {
	padding-top: 1em;
	
}

#friendDetailsLeweTitle {
	color: #1D1D1D;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 2.5em;
    margin: 0 auto 0.8em;
    width: 8em;
	text-align: center;
}


/*CSS my_lewe*/
#myLeweContainer {
	padding-top: 1em;
	
}

#myLeweTitle {
	color: #1D1D1D;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 2.5em;
    margin: 0 auto 0.8em;
    width: 6.8em;
	text-align: center;
}


/*CSS fried lewe*/
#friendLeweTitle {
	color: #1D1D1D;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 2.5em;
    margin: 0 auto 0.8em;
    width: 6.8em;
	text-align: center;
}

.friendLeweFriendContainer {
	
}

#friendLeweContainer {
	
	padding-top: 1em;
	
}


.friendLeweFriendText {
    color: #1D1D1D;
    display: block;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 1.4em;
    margin: 0 auto;
    padding-top: 0.3em;
    width: 9em;
}


#friendLeweUserAllowTitle {
	color: #1D1D1D;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 1.4em;
    margin: 0 auto;
    width: 18.8em;
}

/*CSS public lewe*/

.publicLeweUserDelete {
    border-radius: 30px 30px 30px 30px !important;
    font-size: 5em !important;
    margin: -0.13em 0 0;
    padding: 0 0.15em 0.2em;
}

#publicLeweTitle {
	color: #1D1D1D;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 2.5em;
    margin: 0 auto 0.8em;
    width: 6.8em;
	
}

.publicLeweFormInput {
	border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    font-size: 1.4em;
    height: 1.6em;
    margin-bottom: 0.8em;
    padding: 0 0 0 0.2em;
    width: 10.8em;
}

.publicLeweUsername {

    color: #1D1D1D;
    float: left;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 1.4em;
	width: 7em;
    margin-right: 0.6em;
}

#publicLeweFormSubmit {
	font-size: 1.6em;
	margin-top: 0.7em;
}

#publicLeweUsersAllowedContainer {

    float: left;
    width: 50%;
}


#publicLeweUsersToAllowContainer {

    float: left;
    width: 50%;
}

#publicLeweContainer {
	overflow:auto;
	padding-top: 1em;
		
}

#publicLeweSubTitleAllowed {
	width: 9em;
}

#publicLeweSubTitleToAllow{
	width: 10.5em;
}

.publicLeweSubTitle {
    color: #1D1D1D;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 2em;
    margin: 0 auto 0.7em;
}


.publicLeweUserAllowedContainer {

    margin: 0.5em auto;
    width: 18em;
}

#publicLeweAutorizzationForm {
    margin: 0 auto;
    width: 15.8em;
}

#publicLeweFormButtonContainer {

    margin: 0 auto;
    width: 8em;
	padding: 1em 0;
}

#publicLeweUserAllowTitle {
    color: #1D1D1D;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 1.4em;
    margin: 0 auto;
    width: 9.8em;
}