/*CSS per homepage*/


#how-it-works_container {
	
	overlow: auto;
	
	padding: 1em 0;
	
	width: 98% !important;
	
	margin: 0 auto;
	
	overflow-x: hidden;
}

.paragraph_home {
	margin: 0 1em;
    
}


.paragraph1 {
    text-align: justify;
	word-wrap: normal;
	font-size: 1.3em;
}


.paragraph2 {
	text-align: justify;
	word-wrap: normal;
	font-size: 1.3em;
}


.paragraph3 {
    text-align: justify;
	word-wrap: normal;
	font-size: 1.3em;
}



.paragraph4 {
    text-align: justify;
	word-wrap: normal;
	font-size: 1.3em;
}


.paragraph5 {
    text-align: justify;
	word-wrap: normal;
	font-size: 1.3em;
}


.paragraph6 {
    text-align: justify;
	word-wrap: normal;
	font-size: 1.3em;
}



#img_home1 {
    margin: 0 auto;
    width: 17em;
	display: block;
}


#img_home2 {
    margin: 0 auto;
    width: 17em;
	display: block;;
}

#img_home3 {
    margin: 0 auto;
    width: 17em;
	display: block;
}


#img_home4 {
    margin: 0 auto;
    width: 17em;
	display: block;
}

#img_home5 {
    margin: 0 auto;
    width: 17em;
	display: block;
}

.img_home_sx {
    float: none;
}

.img_home_dx {
    float: none;
}





/*CSS code*/

#codeContainer {
	padding: 1em 0;
	
	width: 98% !important;
	
	margin: 0 auto;
	overflow-x: hidden;
}


#buttonDownload {
    font-size: 1.4em;
    margin-top: 0.7em;
}


#imgOpen {
    display: block;
    margin: 0 auto;
}

#pCode {
    font-size: 1.3em;
    text-align: center;
}


#buttonDownloadContainer {
    margin: 0 auto;
    text-align: center;
}



/*CSS mobili */
/*CSS per leweChart*/

#leweChartForm {

	width: 19.2em;
	margin: 0 auto;
	
}

.highcharts-subtitle tspan {
	
	font-size: 20px  !important;
}

.highcharts-button {
	display: none;	
}

#leweChartContainer {
	width: 100% !important;
}

#leweChartFormButtonContainer {
	clear: both;
	float: none !important;
	margin: 0 auto;
}

#leweChartFormSubmit {
	font-size: 1.6em;
	margin-top: 1em !important;
}

.leweChartFormCheck {
	margin-left: 2.5em !important;
}

#leweChartTable {
	width: 18em !important;
}

.leweChartTableData {
	border-bottom: none !important;
	font-size: 1.2em !important;
	width: 5em !important;
}

.leweChartTableTitle {

	font-size: 1.3em !important;
	width: 4.65em !important;
}

.leweChartText {
	font-size: 1.4em !important;
	margin-left: 0.5em !important;
}


/*CSS per mylewe*/
#myLeweContainer {
	width: 98% !important;
	margin: 0 auto !important;
}

#myLeweTitle {
	font-size: 2.2em !important;
}

/*CSS per friend lewe*/
#friendLeweTitle {
	width: 5.5em !important;
	font-size: 2.2em !important;
}

.friendLeweFriendText {
	width: 9.1m !important;
	font-size: 1.3em !important;
}

#friendLeweUserAllowTitle {
	font-size: 1.3em !important;
    width: 13em !important;
	text-align: center;
}

/*CSS per logo mobile*/
.title > img {
	float: left;
	width: 120px;
	margin-left: 50px;
}

#titleBar .title {
	text-align: left !important;
}


/*Css public lewe*/
#publicLeweContainer {
	width: 19.2em !important;
	margin: 0 auto;
		
}

#publicLeweUsersAllowedContainer {

    float: none !important;
	width: auto !important;
	margin-bottom: 1.2em !important;
}

.publicLeweUserAllowedContainer {
	margin: 1.5em auto !important;
	width: 11em !important;
}

#publicLeweUsersToAllowContainer {

    float: none !important;
    width: auto !important;
}

#publicLeweTitle {

	font-size: 2.2em !important;
	width: 6.6em !important;
}

.publicLeweUsername {
	font-size: 1.3em !important;
	width: 5.5em !important;
}

#publicLeweUserAllowTitle {
	font-size: 1.3em !important;
    width: 10em !important;
}

#publicLeweSubTitleAllowed {
	
	margin: 0 auto 0.3em !important;
	
}

.publicLeweSubTitle {
	font-size: 1.6em !important;	
}

/*css registration*/
#registrationFormTitle {

	font-size: 2.2em !important;
	width: 7.9em !important;
}

#registrationFormContainer {
	width: 19.2em !important;
}

.registrationFormText {
	font-size: 1.3em !important;
	width: 3.5em !important;
}

.registrationFormInput {
	width: 10em !important;
}


/*css login*/
#loginFormTitle {

	font-size: 2.2em !important;
	width: 10em !important;
}

#loginFormContainer {
	width: 19.2em !important;
}

.loginFormText {
	font-size: 1.3em !important;
	width: 3.5em !important;
}

.loginFormInput {
	width: 10em !important;
}


.container {
	overflow-x: hidden;	
}


/*
	Arcana 2.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Mobile (<= 480px)                                                             */
/*********************************************************************************/

/* Basic */

	body
	{
		font-size: 12pt;
	}

/* Reusable */

	.button
	{
		padding: 0.25em 1.1em 0.3em 1.1em;
	}

	.divider
	{
		display: none;
	}

	.cta-box
	{
		padding: 1em 1.25em 1em;
		font-size: 1.6em;
		letter-spacing: -1px;
		margin: 1em auto;
	}

		.cta-box span
		{
			display: block;
			margin: 0 0 0.75em 0;
			padding: 0 1em 0 1em;
			
		}

	.highlight-box
	{
		padding: 1.25em 1em 1.25em 1em;
		margin: 1em auto;
	}

		.highlight-box h2
		{
			font-size: 1.6em;
			letter-spacing: -1px;
		}
		
		.highlight-box span
		{
			font-size: 1.4em;
		}	

	.thumbnails
	{
	}

		.thumbnails .thumbnail
		{
			border-top: solid 1px #e5e5e5;
			padding-top: 2em;
			margin-top: 2em;
		}

		.thumbnails .first
		{
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}

/* Wrappers */

	#header-wrapper {
		display: none;
	}

	#main-wrapper {
		background: #fff;
		padding: 0 0 0.25em 0;
		margin-top: 44px;
	}

		#main-wrapper section, #main-wrapper article {
			margin: 2px 1em 2px 1em;
			padding: 1.5em 0 1.5em 0;
			border-bottom: solid 1px #e5e5e5;
			border-top: solid 1px #e5e5e5;
		}

		#main-wrapper section.first, #main-wrapper article.first {
			border-top: none;
		}

		#main-wrapper section.last, #main-wrapper article.last {
			border-bottom: none;
		}
		
	#footer-wrapper {
		padding: 1em 0 0.25em 0;
		box-shadow: inset 0px 10px 60px 0px rgba(0,0,0,0.15);
	}

		#footer-wrapper section {
			margin: 2px 1em 2px 1em;
			padding: 1.5em 0 1.5em 0;
			border-bottom: solid 1px #d0d0d0;
			/*border-top: solid 1px #d0d0d0;*/
		}

		#footer-wrapper section.first {
			border-top: none;
		}

		#footer-wrapper section.last {
			border-bottom: none;
		}

		#footer-wrapper li {
			line-height: 2.5em;
		}

		#footer-wrapper a
		{
			text-decoration: none;
			color: #525252;
		}

/* Banner */

	#banner
	{
		width: 100%;
		margin: 2em auto 1em auto;
		position: relative;
		/*top: -0.25em;*/
		/* IE10 Consumer Preview */ 
		background-image: -ms-linear-gradient(top, #1E1E1E 0%, #2E2E2E 100%);
		
		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(top, #1E1E1E 0%, #2E2E2E 100%);
		
		/* Opera */ 
		background-image: -o-linear-gradient(top, #1E1E1E 0%, #2E2E2E 100%);
		
		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1E1E1E), color-stop(1, #2E2E2E));
		
		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(top, #1E1E1E 0%, #2E2E2E 100%);
		
		/* W3C Markup, IE10 Release Preview */ 
		background-image: linear-gradient(to bottom, #1E1E1E 0%, #2E2E2E 100%);
	}

		#banner a
		{
		}

			#banner a img
			{
				width: 100%;
				display: block;
			}

		#banner .caption
		{
			background: #1e1e1e url('images/bg3.png') top left repeat-x;
			font-size: 1.25em;
			line-height: 1.5em;
			color: #aaa;
			text-align: center;
			text-shadow: -1px -1px 1px rgba(0,0,0,1);
			padding: 0.75em 1.5em 1em 1.5em;
		}

			#banner .caption span
			{
				display: block;
				margin: 0 0 0.75em 0;
			}
		
				#banner .caption span strong
				{
					color: #ffffff;
				}

			#banner .caption .button
			{
				border: solid 1px #001916;
				display: inline-block;
			}

/* Copyright */

	#copyright
	{
		text-align: center;
		color: #868686;
		padding: 2em;
	}

		#copyright a
		{
			color: #868686;
		}

/* Mobile UI */
	
	#titleBar
	{
		background: url('images/header.png') 0px 0px; /* -35px;*/
		border-bottom: 10px solid #38C3FF;
		box-shadow: inset 0px 15px 30px 0px rgba(255,255,255,0.1);
	}

		#titleBar .title
		{
			color: #fff;
			text-shadow: -1px -1px 1px rgba(0,0,0,1);
			line-height: 44px;
			font-size: 1.5em;
			text-align: center;
		}
		
			#titleBar .title h1
			{
				color: #fff;
			}

		#titleBar .toggle
		{
			position: absolute;
			top: 0;
			left: 0;
			background: url('images/mobileUI-site-nav-opener-bg.svg') top center no-repeat;
			text-indent: -9999em;
			width: 60px;
			height: 60px;
			opacity: 0.5;
		}

		#titleBar .toggle:active
		{
			opacity: 1.0;
		}

	#navPanel
	{
		background: #1e1e1e url('images/bg3.png') top left repeat-x;
		box-shadow: inset -5px 0px 60px 0px rgba(0,0,0,0.25);
		padding: 1em 0 1em 0;
	}

		#navPanel .link
		{
			text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
			color: #fff;
			text-decoration: none;
			font-size: 1.4em;
			padding: 0.5em 1em 0.5em 1em;
		}